@mixin Grid() {
  position: relative;
  border: var(--border) solid #fff;
  border-radius: var(--radius);
  z-index: var(--zIndexGrid);
  background-color: #fff;
}
@mixin GridCell() {
  position: absolute;
  border-radius: var(--radius);
  background-color: var(--theme);
}
.grid {
  @include Grid();
  &-cell {
    @include GridCell();
    &.nobg {
      background: none;
    }
  }
  &-fill {
    position: absolute;
    left: 3px;
    bottom: 3px;
    width: 8px;
    height: 8px;
    background-size: 100% 100%;
    background-image: url('https://api.iconify.design/bi:circle-fill.svg?color=%23ffffff');
  }
}
.dark {
  --theme: #2196f3;
  background-color: #313131;
}
.theme {
  // 按钮
  --button-y: 0px;
  // 洞
  --icon-hole: #16181e;
  --icon-hole-scale: 0;
  --icon-hole-inner: #20232c;
  // 图标
  --icon-y: 0px;
  --icon-scale: 1;
  --icon-rotate: 0deg;
  display: flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  transform: translateY(var(--button-y));
  transition: transform 0.2s;
  border-radius: var(--radius);
  background: var(--theme);
  &-hole {
    width: 100%;
    height: 90px;
    display: flex;
    pointer-events: none;
    position: relative;
    clip-path: ellipse(150% 50% at 50% 50%);
    margin-top: -60px;
    &:before {
      content: '';
      margin-top: auto;
      display: block;
      width: 100%;
      height: 12px;
      background: var(--icon-hole);
      box-shadow: inset 0 3px 0 0 var(--icon-hole-inner);
      border-radius: 100px / 30px;
      transform: scale(var(--icon-hole-scale));
      transform-origin: 50% 100%;
    }
  }
  &-icon {
    position: absolute;
    left: 50%;
    bottom: 0px;
    font-size: 18px;
    transform: translateX(-50%) translateY(var(--icon-y))
      rotate(var(--icon-rotate)) scale(var(--icon-scale));
    border-radius: var(--icon-radius, 0px);
    transition: clip-path 0.2s, border-radius 0.2s, background 0.2s;
  }
}
